canvas { /*disable accidental highlight*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}
body {
    background: #000000;
}

#gameBoard {
    position: relative;
    height: 600px;
    width: 800px;
    margin: 0 auto;

    background-color: #20AF6F;
}

#gameCanvas {
    position: relative;
    margin: 20px 0 0 4px;
}

#scoresCanvas {
    position: relative;
    margin: 20px 0 0 4px;
}

#powerUps {
    clear: both;
    display: none;
}

#powerUps * {
    cursor: pointer;
}
